@model List<Chat>
@{
    var count = Model.Count();
    var userId = User.GetUserId();
    foreach (var item in Model)
    {
        var itemRemove = item.UserChats.FirstOrDefault(x => x.AppUserId == userId);
        item.UserChats.Remove(itemRemove);
    }
    int i = 0;

    var domain = _configuration.GetSection(SystemConstants.AppSettings.BaseAddressServer).Value; 
    var domainUrl = $"{domain}/{"{0}"}";
}

<div class="col-md-4 chat">
    <div class="card mb-sm-3 mb-md-0 contacts_card">
        <div class="card-header">
            <div class="input-group">
                <input type="text" placeholder="Search..." name="" class="form-control search">
                <div class="input-group-prepend">
                    <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="card-body contacts_body">
            <ul class="contacts">

                @for (i = 0; i < count; i++)
                {
                    <li class="@(i==0?"active":"")" data-chatid="@Model[i].Id" data-friendid="@Model[i].UserChats[0].AppUserId">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="@(string.Format(domainUrl, Model[i].UserChats[0].AppUser.AvatarPath))"
                                     class="rounded-circle user_img">
                                <span class="online_icon"></span>
                            </div>
                            <div class="user_info">
                                <span>@Model[i].UserChats[0].AppUser.Name</span>
                                <p>is online</p>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>
        <div class="card-footer"></div>
    </div>
</div>